<!DOCTYPE html>
<html>
<head>
    <title>Pending Workflows</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Pending Workflows</h1>
        <ul>
            {% for workflow in workflows %}
                <li><a href="{{ url_for('view_workflow', workflow_id=workflow['id']) }}">{{ workflow['name'] }}</a></li>
            {% endfor %}
        </ul>
        <a href="user-dashboard">Go Back</a>

    </div>
</body>
</html>
